*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333333;
    line-height: 1.6; 
}
.contenedor{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(250, 242, 230);
}

nav{
    position: fixed;
    background-color: blanchedalmond;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;/* Para que quede por encima de otros elementos */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0;
    margin: 0;
    justify-content: center;      
}

nav a{
    text-decoration: none;
    color: #8B0000;
    font-weight: bold;
}

nav a:hover{
    color: white;    
}

main{
    margin-top: 10px;
}

h1{
    color: #2F4F4F;
    margin-bottom: 10px 20px;
    text-align: center;
}
h2{
    color: #2F4F4F;
}
h3{
    color: #2F4F4F;
}

#fotoPerfil{
    width: 200px;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

/* Encabezado */
#about-me { 
    text-align: center;
    padding: 10px;    
    margin-bottom: 20px;
}

#experience{    
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgb(252, 230, 204);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#studies{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgb(252, 230, 204);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#training{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgb(252, 230, 204);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
}

#training table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#training th,
#training td {
    padding: 10px;
    border: 1px solid #ddd;
}

#training th {
    background-color: rgb(250, 242, 230);
    color: #2F4F4F;
}

#training td {
    background-color: #f4f4f4;
}

#hobies{
   padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgb(252, 230, 204);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#sitios{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgb(252, 230, 204);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sitios a{
    text-decoration: none;
    font-weight: bold;
    color: #8B0000;
}

#contac{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contac input,
#contac button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contac button {
    background-color: rgb(250, 242, 230);
    color: #2F4F4F;
    border: none;
    cursor: pointer;
}

#contac button:hover {
    background-color: beige;
}

#footer{  
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 2rem; /* espacio entre imágenes */
  align-items: center;
  flex-wrap: wrap; /* permite que bajen si no caben */
  border-top: 1px solid #ccc; 
}

#footer img {
  width: 120px;
  height: auto;
  transition: transform 0.3s ease;
}

#footer img:hover {
  transform: scale(1.1); /* efecto al pasar el mouse */
}

